{% extends 'crm.html' %}
{% load static %}

{% block title %}
Intranet Matra - CRM
{%  endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cores.css' %}">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'crm' %}" class="text-custom-color">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'veiculo_list' %}" class="text-custom-color">Veículos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastro de Veículos</li>
    </ol>
</nav>

<div class="container mt-4">
    <h3 style="font-size: 1.2rem;">Inativar Veículo</h3>

    <div class="card">
        <div class="card-body">
            <p class="card-text">Tem certeza que deseja inativar o veículo <strong>{{object.modelo}}</strong>?</p>
            <form method="post">
                {%csrf_token %}
                <button type="submit" class="btn color-7"><i class="bi bi-trash"></i> Inativar</button>
            </form>           
        </div>
    </div>
    <a href="{% url 'veiculo_list' %}" class="btn btn-secondary mt-3">Voltar para a lista de veículos</a>
</div>

{% endblock %}