{% extends 'crm.html' %}
{% load static %}

{% block title %}
Intranet Matra - CRM
{%  endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'crm' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'veiculo_list' %}">Veículos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastro de Veículos</li>
    </ol>
</nav>

<div class="containermt-4">
    <h3 style="font-size: 1.2rem;">Editar Veículo</h3>

    <div class="card">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
    <a href="{% url 'veiculo_list' %}" class="btn btn-secondary mt-3">Voltar para a lista de veículos</a>
</div>

<!-- Inclua os scripts no final do bloco content -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="{% static 'js/formata_data.js' %}"></script>
<script src="{% static 'js/formata_valor.js' %}"></script>

{% endblock %}