{% extends 'crm.html' %}
{% load metas_filters %}

{% block title %}
Intranet Matra - CRM
{%  endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'crm' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'meta_list' %}">Metas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastro de Metas</li>
    </ol>
</nav>

<div class="container mt-4">
    <h3 style="font-size: 1.2rem;">Detalhes da Meta</h3>

    <div class="card">
        <div class="card-body">
            <p class="card-text">Mês: {{object.mes}}</p>
            <p class="card-text">Ano: {{object.ano}}</p>
            <p class="card-text">Tipo da Meta: {{object.venda_tipo_meta}}</p>
            <p class="card-text">Vendedor: {{object.vendedor}}</p> 
            <p class="card-text">Produto: {{object.venda_produto}}</p>    
            <p class="card-text">Quantidade: {{object.quantidade}}</p>
            <p class="card-text">Valor: {{object.valor|floatformat:2|format_currency}}</p>                
        </div>
    </div>
    <a href="{% url 'meta_list' %}" class="btn btn-secondary mt-3">Voltar para a lista de metas</a>
</div>

{% endblock %}