{% load static %}
<head> 
  <link rel="stylesheet" href="{% static 'css/cores.css' %}">
</head>
<div class="card mt-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <div class="card color-1">
            <div class="card-body">
              <h5 class="card-title">Quantidade de veiculos</h5>
              <p class="card-text text-white font-weight-bold fs-3">{{ metricas_veiculos.quantidade_veiculos}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card color-2">
            <div class="card-body">
              <h5 class="card-title">Custo do estoque</h5>
              <p class="card-text text-white font-weight-bold fs-3">R$ {{ metricas_veiculos.custo_estoque}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card color-3">
            <div class="card-body">
              <h5 class="card-title">Valor do estoque</h5>
              <p class="card-text text-white font-weight-bold fs-3">R$ {{ metricas_veiculos.valor_venda}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card color-4">
            <div class="card-body">
              <h5 class="card-title">Lucro do estoque</h5>
              <p class="card-text text-white font-weight-bold fs-3">R$ {{ metricas_veiculos.lucro}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>