{% load static %}
<div class="row flex-nowrap">
  <div class="col-auto col-md-0 col-xl-0 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
      <link rel="stylesheet" href="{% static 'css/estilo_menu.css' %}">
      <button class="btn btn-dark d-block d-sm-none mb-3" type="button" data-bs-toggle="collapse"
        data-bs-target="#menuCollapse" aria-expanded="false" aria-controls="menuCollapse">
        <i class="bi bi-list fs-4"></i>
      </button>
      <div class="collapse d-sm-block" id="menuCollapse">
        <ul class="nav flex-column align-items-start" id="menu"> 
            {% if perms.crm_acessorios_veiculo.view_acessoriosveiculo %}           
                <li><a href="{% url 'acessorio_veiculo_list' %}" class="dropdown-item"><i class="bi bi-ui-radios-grid fs-5"></i> Acessórios de Veiculo</a></li>
            {% endif %}
            {% if perms.crm_areas_cultura.view_areascultura %}
                <li><a href="{% url 'area_cultura_list' %}" class="dropdown-item"><i class="bi bi-geo-fill fs-5"></i> Áreas de Cultura</a></li>
            {% endif %}
            {% if perms.crm_cidades_regiao.view_cidadesregiao %}
                <li><a href="{% url 'cidade_regiao_list' %}" class="dropdown-item"><i class="bi bi-three-dots-vertical fs-5"></i> Cidades da Região</a></li>
            {% endif %}
            {% if perms.crm_clientes.view_clientes %}
                <li><a href="{% url 'cliente_list' %}" class="dropdown-item"><i class="bi bi-people fs-5"></i> Clientes</a></li>
            {% endif %}
            {% if perms.crm_condicoes_pagamento.view_condicoespagamento %}
                <li><a href="{% url 'condicao_pagamento_list' %}" class="dropdown-item"><i class="bi bi-credit-card fs-5"></i> Condições de Pagamento</a></li>
            {% endif %}
            {% if perms.crm_configuracoes_veiculo.view_configuracoesveiculo %}
                <li><a href="{% url 'configuracao_veiculo_list' %}" class="dropdown-item"><i class="bi bi-toggles fs-5"></i> Configurações de Veiculo</a></li>
            {% endif %}
            {% if perms.crm_culturas.view_culturas %}
                <li><a href="{% url 'cultura_list' %}" class="dropdown-item"><i class="bi bi-cloud-rain fs-5"></i> Culturas</a></li>
            {% endif %}
            {% if perms.crm_emitentes.view_emitentes %}
                <li><a href="{% url 'emitente_list' %}" class="dropdown-item"><i class="bi bi-house fs-5"></i> Emitentes</a></li>
            {% endif %}
            {% if perms.crm_empresas.view_empresas %}
                <li><a href="{% url 'empresa_list' %}" class="dropdown-item"><i class="bi bi-building fs-5"></i> Empresas</a></li>
            {% endif %}
            {% if perms.crm_familias_produto.view_familiasproduto %}
                <li><a href="{% url 'familia_produto_list' %}" class="dropdown-item"><i class="bi bi-ui-checks fs-5"></i> Familias de Produto</a></li>
            {% endif %}
            {% if perms.crm_impostos.view_impostos %}
                <li><a href="{% url 'imposto_list' %}" class="dropdown-item"><i class="bi bi-receipt fs-5"></i> Impostos</a></li>
            {% endif %}
            {% if perms.crm_marcas.view_marcas %}
                <li><a href="{% url 'marca_list' %}" class="dropdown-item"><i class="bi bi-card-checklist fs-5"></i> Marcas</a></li>
            {% endif %}
            {% if perms.crm_metas.view_metas %}
                <li><a href="{% url 'meta_list' %}" class="dropdown-item"><i class="bi bi-crosshair fs-5"></i> Metas</a></li>
            {% endif %}
            {% if perms.crm_modelos.view_modelos %}
                <li><a href="{% url 'modelo_list' %}" class="dropdown-item"><i class="bi bi-ui-radios fs-5"></i> Modelos</a></li>
            {% endif %}
            {% if perms.crm_pedidos_venda.view_pedidosvenda %}
                <li><a href="{% url 'pedido_venda_list' %}" class="dropdown-item"><i class="bi bi-clipboard2-check fs-5"></i> Pedidos de Venda</a></li>
            {% endif %}
            {% if perms.crm_produtos.view_produtos %}
                <li><a href="{% url 'produto_list' %}" class="dropdown-item"><i class="bi bi-ui-checks-grid fs-5"></i> Produtos</a></li>
            {% endif %}
            {% if perms.crm_regioes.view_regioes %}
                <li><a href="{% url 'regiao_list' %}" class="dropdown-item"><i class="bi bi-geo-alt fs-5"></i> Regiões</a></li>
            {% endif %}
            {% if perms.crm_tipos_comissao.view_tiposcomissao %}
                <li><a href="{% url 'tipo_comissao_list' %}" class="dropdown-item"><i class="bi bi-table fs-5"></i> Tipos de Comissão</a></li>
            {% endif %}
            {% if perms.crm_tipos_meta.view_tiposmeta %}
                <li><a href="{% url 'tipo_meta_list' %}" class="dropdown-item"><i class="bi bi-speedometer2 fs-5"></i> Tipos de Meta</a></li>
            {% endif %}
            {% if perms.crm_tipos_venda.view_tiposvenda %}
                <li><a href="{% url 'tipo_venda_list' %}" class="dropdown-item"><i class="bi bi-upc fs-5"></i> Tipos de Venda</a></li>
            {% endif %}
            {% if perms.crm_veiculos.view_veiculos %}
                    <li><a href="{% url 'veiculo_list' %}" class="dropdown-item"><i class="bi bi-car-front fs-5"></i> Veiculos</a></li>
            {% endif %}
            {% if perms.crm_vendas.view_vendas %}
                <li><a href="{% url 'venda_list' %}" class="dropdown-item"><i class="bi bi-currency-dollar fs-5"></i> Vendas</a></li>
            {% endif %}
            {% if perms.crm_vendedores.view_vendedores %}
                <li><a href="{% url 'vendedor_list' %}" class="dropdown-item"><i class="bi bi-person-gear fs-5"></i> Vendedores</a></li>
            {% endif %}
        </ul>
      </div>
      <hr>
    </div>
  </div>