{% extends 'crm.html' %}

{% block title %}
Intranet Matra - CRM
{%  endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'crm' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'configuracao_veiculo_list' %}">Configurações de Veiculo</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastro de Configurações de Veiculo</li>
    </ol>
</nav>

<div class="container mt-4">
    <h3 style="font-size: 1.2rem;">Cadastrar Configuração de Veiculo</h3>

    <div class="card">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
    <a href="{% url 'configuracao_veiculo_list' %}" class="btn btn-secondary mt-3">Cancelar e voltar para a lista de configurações de veiculo</a>
</div>

{% endblock %}