{% extends 'crm.html' %}

{% block title %}
Intranet Matra - CRM
{%  endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'crm' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'tipo_meta_list' %}">Tipos de Meta</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastro de Tipos de Meta</li>
    </ol>
</nav>

<div class="containermt-4">
    <h3 style="font-size: 1.2rem;">Editar Emitente</h3>

    <div class="card">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salvar Tipo de Meta</button>
            </form>
        </div>
    </div>
    <a href="{% url 'tipo_meta_list' %}" class="btn btn-secondary mt-3">Voltar para a lista de tipos de meta</a>
</div>

{% endblock %}