{% extends 'crm.html' %}
{% load static %}

{% block title %}
Intranet Matra - CRM
{%  endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cores.css' %}">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'crm' %}" class="text-custom-color">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Tipos de Meta</li>
    </ol>
</nav>
  

<div class="card mb-4">
    <div class="card-header">
        <h3 style="font-size: 1.2rem;">Filtros</h3>
    </div>
    <div class="card-body">
        <form method="get" action="{% url 'tipo_meta_list' %}" id="filtro-form">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição do tipo de comissão" value="{{ filtros.descricao }}">
                </div>
            </div>    
            <div class="row mb-3">

            </div>
            <div class="row mb-3">
               
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn color-3"><i class="bi bi-funnel"></i> Filtrar</button>
                    <a href="{% url 'tipo_meta_list' %}" class="btn btn-secondary">
                        <i class="bi bi-x-circle"></i> Limpar Filtros
                    </a>
                    {% if perms.crm_tipos_meta.add_tiposmeta %}
                        <a href="{% url 'tipo_meta_create' %}" class="btn color-1 float-end">
                            <i class="bi bi-plus-circle"></i> Novo Tipo de Meta
                        </a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Adicionar o contador de registros aqui -->
<div class="d-flex justify-content-between align-items-center mb-2">
    <div class="text-muted">
        <strong>Total de registros encontrados:</strong> {{ total_registros }}
    </div>
    <div>
        <!-- Você pode adicionar outros elementos aqui, como botões de exportação -->
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for tipo_meta in tipos_meta%}
            <tr>
               <td>{{tipo_meta.descricao}} </td>
               <td>
                {% if perms.crm_tipos_meta.view_tiposmeta %}
                    <a href="{% url 'tipo_meta_detail' tipo_meta.id %}" class="btn color-3 btn-sm">
                        <i class="bi bi-search"></i>
                    </a>
                {% endif %}
                {% if perms.crm_tipos_meta.change_tiposmeta %}
                    <a href="{% url 'tipo_meta_update' tipo_meta.id %}" class="btn color-5 btn-sm">
                        <i class="bi bi-pencil"></i>
                    </a>
                {% endif %}
                {% if perms.crm_tipos_meta.delete_tiposmeta %}
                    <a href="{% url 'tipo_meta_delete' tipo_meta.id %}" class="btn color-7 btn-sm">
                        <i class="bi bi-trash"></i>
                    </a>
                {% endif %}
               </td>
            </tr>
            {% endfor %}            
        </tbody>
    </table>
</div>

{% include 'components/_pagination.html' %}

{% endblock %}