{% extends 'crm.html' %}

{% block title %}
Intranet Matra - CRM
{%  endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'crm' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'venda_list' %}">Vendas</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastro de Vendas</li>
    </ol>
</nav>


<div class="container mt-4">
    <h3 style="font-size: 1.2rem;">Detalhes da Venda</h3>

    <div class="card">
        <div class="card-body">
            <p class="card-text">Pedido de Venda: {{object.pedido_venda}}</p>
            <p class="card-text">Número da NF: {{object.nf_venda}}</p>                       
        </div>t
    </div>
    <a href="{% url 'venda_list' %}" class="btn btn-secondary mt-3">Voltar para a lista de vendas</a>
</div>

{% endblock %}