{% extends 'crm.html' %}
{% load static %}

{% block title %}
Intranet Matra - CRM
{%  endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cores.css' %}">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'crm' %}" class="text-custom-color">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'familia_produto_list' %}" class="text-custom-color">Familias de Produtos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastro de Familias de Produtos</li>
    </ol>
</nav>

<div class="container mt-4">
    <h3 style="font-size: 1.2rem;">Detalhes da Familia de Produto</h3>

    <div class="card">
        <div class="card-body">
            <p class="card-text">Descrição: {{object.descricao}}</p>
            <p class="card-text">Sigla: {{object.sigla}}</p>
            <p class="card-text">Produto: {{object.tipo_equipamento}}</p>            
        </div>
    </div>
    <a href="{% url 'familia_produto_list' %}" class="btn btn-secondary mt-3">Voltar para a lista de familias de produto</a>
</div>

{% endblock %}