{% extends 'crm.html' %}
{% load static %}

{% block title %}
Intranet Matra - CRM
{%  endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cores.css' %}">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'crm' %}" class="text-custom-color">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'tipo_venda_list' %}" class="text-custom-color">Tipos de Venda</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastro de Tipos de Venda</li>
    </ol>
</nav>

<div class="containermt-4">
    <h3 style="font-size: 1.2rem;">Editar Tipo de Venda</h3>

    <div class="card">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn color-5"><i class="bi bi-floppy"></i> Salvar</button>
            </form>
        </div>
    </div>
    <a href="{% url 'tipo_venda_list' %}" class="btn btn-secondary mt-3">Voltar para a lista de tipos de venda</a>
</div>

{% endblock %}