{% extends 'crm.html' %}
{% load static %}

{% block title %}
Intranet Matra - CRM
{%  endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cores.css' %}">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'crm' %}" class="text-custom-color">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'emitente_list' %}" class="text-custom-color">Emitentes</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastro de Emitentes</li>
    </ol>
</nav>

<div class="container mt-4">
    <h3 style="font-size: 1.2rem;">Cadastrar Emitente</h3>

    <div class="card">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn color-3">
                    <i class="bi bi-floppy"></i> Salvar
                </button>
            </form>
        </div>
    </div>
    <a href="{% url 'emitente_list' %}" class="btn btn-secondary mt-3">Cancelar e voltar para a lista de emitentes</a>
</div>

<!-- Inclua os scripts no final do bloco content -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/seletor_uf_cidade.js' %}"></script>

{% endblock %}