{% extends 'crm.html' %}

{% block title %}
Intranet Matra - CRM
{%  endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'crm' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'emitente_list' %}">Emitentes</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastro de Emitente</li>
    </ol>
</nav>

<div class="container mt-4">
    <h3 style="font-size: 1.2rem;">Inativar Emitente</h3>

    <div class="card">
        <div class="card-body">
            <p class="card-text">Tem certeza que deseja inativar o Emitente <strong>{{ object.nome }}</strong>?</p>
            <form method="post">
                {%csrf_token %}
                <button type="submit" class="btn btn-danger mt-3">Inativar</button>
            </form>           
        </div>
    </div>
    <a href="{% url 'emitente_list' %}" class="btn btn-secondary mt-3">Voltar para a lista de emitentes</a>
</div>

{% endblock %}